*{
    box-sizing: border-box;
}



.grid{
    position: relative;

    .item {
        display: block;
        position: absolute;
        width: 100%;
        margin: 5px 0;
        z-index: 1;
        border-radius: 8px;

        .overlay{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: #0275d8;
            border-radius: 8px;
            transition: .5s ease;
        }

        .overlay-text{
            color: white;
            font-size: 30px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: 1s ease;
        }

        &:hover{
            cursor: pointer;
            .overlay{
                left: 0;
                opacity: 0.5;

                
            }

            .overlay-text{
                opacity: 1;
            }
            
        }

        
    }

    .item.muuri-hidden {
        z-index: 0;
    }

    .item-content {
        position: relative;
        width: 100%;
        height: 100%;
    }

    img{
        width: 100%;
        border-radius: 8px;
    }
    
}

.lead{
    font-size: 16px;
}

.navbar{
    border-radius: 0;
    margin-bottom: 32px;
    padding: 8px 0;
}

.navbar-toggler{
    margin-right: -10px;
}

.container-fluid{
    padding: 0;
}

.content-width{
    position: relative;
}

.content-width,
.container{
    width: 70%;
    margin: 0 auto;
}

.placeholder-img{
    width: 100%;
    height: 250px;
    padding: 80px 0px;
    background-color: #eee;
}

#tags{
    width: 196px;
}

#view-gallery,
#view-all-posts{
    margin: 15px 0;
    width: 100%;
}

.display-inline{
    display: inline;
}

#form-container{
    width: 100%;
    margin-left: 0;
    margin-bottom: 32px;
    
    h6, h4{
        display: block;
        width: 100%;
        margin-top: 17px;
    }

    .form-inline{
        width: 100%;
        background-color: #f7f7f7;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 8px;

        #reset{
            width: 100%;
            color: #0275d8;
            margin-bottom: 10px;
        }
      
        #apply-filter,
        #re-apply-filter{
            width: 100%;
            margin: 10px 0;
        }
            
        #search{
            margin-bottom: 10px;
            padding-right: 0;
            padding-left: 0;
        }
    }
}

#recent-images-heading{
    margin-top: 15px;
}

.card-deck{
    .card{
        position: relative;
        display: block;
        margin-bottom: 20px;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 4px;
        text-decoration: none;
        color: black;
        .read-more{
            width: 100%;
        }

        
    }

    img{
        width: 100%;
    }
}

.alt-btn{
    border-color: #337ab7;
    background-color: #fff;
    color: #337ab7;

    &:hover{
        background-color: lightgrey;
        color: #337ab7;
    }
}

.gallery_image{
    width: 100px;
    background-color: blue;
}

.gallery-container{
    margin-left: 0;
    margin-right: 0;
}

.card-deck{  
    width: 100%;
    
    .card{
        margin-bottom: 5px;

        .padding{
            padding: 5px 0 0;
        }

        .image-container{   
            .inner-container{
                padding: 5px;
                border: 1px solid #ddd;
                border-radius: 4px;
                position: relative;
                overflow: hidden;
            }

            .image{
                width: 50%;
                height: 50%;
                background-color: lightgray;
            }

            img{
                width: 100%;
                height: 100%;
            }
        }

        #image-date{
            margin-left: 5px;
        }

        .text-muted{
            padding: 0px;
        }
    }
}



.link{
    font-size: 80%;
    text-decoration: underline;
}

.card-columns{
    column-count: 1;

    .card{
        padding: 5px;
        img{
            max-width: 100%;
        }

        #image-date{
            margin-bottom: 0;
        }
    }
}

#post-container{
    .image-container{
        display: inline-block;
        padding: 5px;
        border: 1px solid lightgray;
        border-radius: 8px;

        img{
            max-width: 100%;
            border-radius: 8px;
        }   
    }

    .date-and-time{
        font-size: 12px;
        margin-bottom: 5px;
    }
}


#add-comment-form,
.media{
    width: 100%;
    max-width: 650px;
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 0 10px 10px 10px;
    
    h4{
        display: block;
        width: 100%;
        padding-top: 17px;
        margin-left: 15px;
    }

    p{
        display: block;
    }

    .form-control{
        width: 100%;
    }

    #add-comment{
        margin: 0px 15px;
        width: 100%;
    }
}

.media{
    margin-bottom: 10px;
    height: auto;
}


@media (max-width: 768px) {
    #form-container{
        .form-inline{
            #search{
            margin-bottom: 10px;
            }

            #re-apply-filter,
            #reset{
                width: 49.5%;
            }

            #reset{
                margin-top: 10px;
                margin-left: 5px;
            }
        }
    }

    .card-columns{
        column-count: 2;
    } 

    .grid{
        .item {
            width: calc(50% - 10px);
            margin: 5px;
            text-align: center;
        }

        .overlay-text{
            font-size: 25px;
        }
    }
}

@media only screen and (min-width: 992px) {
    #form-container{
        width: 50%;

        .form-inline{
            #apply-filter{
                width: 50%;
            }

            #reset{
                margin-top: 10px;
            }
            
            #re-apply-filter,
            #reset{
                width: 33%;
            }
        }
    }

    #view-gallery,
    #view-all-posts{
        position: absolute;
        right: 0;
        margin-bottom: 15px;
        width: 250px;
    }

    #recent-images-heading{
        margin-top: 68px;
    }

    .card-columns{
        column-count: 3;
    }

    #add-comment-form{
        #add-comment{
            margin: 0px 15px;
            width: 200px;
        }
    }

    .grid{
        .item {
            width: calc(33.3% - 10px);
        }

        .overlay-text{
            font-size: 20px;
        }
    }
}

@media only screen and (min-width: 1200px) {
    #form-container{
        .form-inline{
            #apply-filter{
                width: 33%;
            }

        }

    }

    .card-columns{
        column-count: 4;
    }

    #post-container{
        .image-container{
            padding: 5px;
            border: 1px solid lightgray;
            border-radius: 8px;

            img{
                max-width: 800px;
                border-radius: 8px;
            }
        }
    }

    .grid{

      
            .item {
                width: calc(25% - 10px);
            }
       
        
        img{
            max-width: 800px;
            border-radius: 8px;
        }
    }
}