.page-header{
    margin-top: 16px;
    margin-bottom: 16px;
}

#publish-options-container,
#publish-options-outer-container,
#category-options-container,
#category-options-outer-container,
#bulk-options-container{
    padding-left: 0;
}

.gallery_image{
    width: 100px;
    margin: auto;
}

.img-container{
    text-align: center;
}

.image-container{
    padding: 0;
    height: 300px;
    border: 2px solid black;
    position: relative;
    overflow: hidden;

    .wide-image{
        width: 55%;
        height: 50%;
        background-color: gray;
    }

    .left-align{
        float: left;
    }

    .right-align{
        float: right;
    }

    .image{
        width: 50%;
        height: 50%;
        
        &:nth-child(1),
        &:nth-child(4){
            background-color: gray;
        }

        &:nth-child(2),
        &:nth-child(3){
            background-color: lightgray;
        }
    }

    .third{
        width: 33.3%;
        height: 33.3%;
        
        &:nth-child(odd){
            background-color: gray;
        }

        &:nth-child(even){
            background-color: lightgray;
        }
    }
    
}

form{
    

    .table{
        margin-top: 16px;
    }

    #apply-bulk{
        width: 100%;
    }

    #add-post{
        margin-top: 5px;
        width: 100%;
    }

    .custom-file{
        width: 100%;
        margin-bottom: 16px;
    }

    #publish-post{
        width: 100%;
    }

    #post-content{
        width: 100%;
    }
}

#view-posts-table{
overflow-x: scroll;
}


#template-choices{
    .image-container{
        height: 200px;
    }

    .img-placeholder{
        background-color: gray;
    }
}

#user-info{
    position: absolute;
    right: 0;

    .dropdown-menu{
        position: absolute;
        left: -110px;
    }
}

.card{
    width: auto;
    max-width: 100%;
    margin-bottom: 5px;
    .image-container{
        padding: 5px;
        
        
        .inner-container{
            padding: 5px;
            border: 1px solid #ddd;
            border-radius: 4px;
            position: relative;
            overflow: hidden;
        }
        

        .wide-image{
            width: 55%;
            height: 50%;
            background-color: gray;
        }

        .left-align{
            float: left;
        }

        .right-align{
            float: right;
        }

        .image{
            width: 50%;
            height: 50%;
            background-color: lightgray;
        }

        img{
            width: 100%;
            height: 100%;
        }

        .third{
            width: 33.3%;
            height: 33.3%;
            
            &:nth-child(odd){
                background-color: gray;
            }

            &:nth-child(even){
                background-color: lightgray;
            }
        }

        
        
    }
}

@media only screen and (min-width: 768px) {
    form{

        #apply-bulk{
            width: 49.7%;
        }

        #add-post{
            margin-top: 0;
            width: 49.7%;
        }

        .custom-file{
            width: 50%;
        }

        .form-group{
            width: 50%;
        }

        #publish-post{
            width: 100%;
        }
    }
}

@media only screen and (min-width: 992px) {
   form{
       #bulk-options-container{
           width: 50%;
       }

        #apply-bulk{
            width: 24.8%;
        }

        #add-post{
            margin-top: 0;
            width: 24.8%;
        }

        .custom-file{
            width: 33%;
        }

        .form-group{
            width: 33%;
        }
    }
}

@media only screen and (min-width: 1200px) {
    

    
}
