#publish-options-container,
#publish-options-outer-container,
#category-options-container,
#category-options-outer-container,
#bulk-options-container{
    padding-left: 0;
}

.gallery_image{
    width: 100px;
    margin: auto;
}

.img-container{
    text-align: center;
}