#publish-options-container,
#publish-options-outer-container,
#category-options-container,
#category-options-outer-container,
#bulk-options-container{
    padding-left: 0;
}

.gallery_image{
    width: 100px;
    margin: auto;
}

.img-container{
    text-align: center;
}

.image-container{
    padding: 0;
    height: 300px;
    border: 2px solid black;
    position: relative;
    overflow: hidden;

    .wide-image{
        width: 55%;
        height: 50%;
        background-color: gray;
    }

    .left-align{
        float: left;
    }

    .right-align{
        float: right;
    }

    .image{
        width: 50%;
        height: 50%;
        
        &:nth-child(1),
        &:nth-child(4){
            background-color: gray;
        }

        &:nth-child(2),
        &:nth-child(3){
            background-color: lightgray;
        }
    }

    .third{
        width: 33.3%;
        height: 33.3%;
        
        &:nth-child(odd){
            background-color: gray;
        }

        &:nth-child(even){
            background-color: lightgray;
        }
    }
    
}

#template-choices{
    .image-container{
        height: 200px;
    }

    .img-placeholder{
        background-color: gray;
    }
}
