#publish-options-container,
#publish-options-outer-container,
#category-options-container,
#category-options-outer-container,
#bulk-options-container {
  padding-left: 0; }

.gallery_image {
  width: 100px;
  margin: auto; }

.img-container {
  text-align: center; }

.image-container {
  padding: 0;
  height: 300px;
  border: 2px solid black;
  position: relative;
  overflow: hidden; }
  .image-container .wide-image {
    width: 55%;
    height: 50%;
    background-color: gray; }
  .image-container .left-align {
    float: left; }
  .image-container .right-align {
    float: right; }
  .image-container .image {
    width: 50%;
    height: 50%; }
    .image-container .image:nth-child(1), .image-container .image:nth-child(4) {
      background-color: gray; }
    .image-container .image:nth-child(2), .image-container .image:nth-child(3) {
      background-color: lightgray; }
  .image-container .third {
    width: 33.3%;
    height: 33.3%; }
    .image-container .third:nth-child(odd) {
      background-color: gray; }
    .image-container .third:nth-child(even) {
      background-color: lightgray; }

#template-choices .image-container {
  height: 200px; }
#template-choices .img-placeholder {
  background-color: gray; }
